body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 800px;
}

#search-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#article-container {
    display: none;
}

.section {
    display: none;
}

.navigation-buttons {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input[type="text"] {
    font-size: 16px;  /* Ensure font size is at least 16px to prevent zoom */
    padding: 10px;
    box-sizing: border-box;
}

.result-item {
    padding: 8px;
    border: solid 1px #ccc;
    margin-bottom: 4px;
    display: block;
}